In [53]:
import requests
from bs4 import BeautifulSoup
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
headers = {"User-Agent" : user_agent}
url = "https://stock.wearn.com/cdata.asp?Year=112&month=12&kind=2330"
res = requests.get(url = url, headers = headers)
res.encoding = "big5"
html = BeautifulSoup(res.text,"html.parser")
#print(soup.prettify())
table = html.findAll("table",{"class":"mobile_img"})[0]
trs = table.findAll("tr")[2]
tds = trs.findAll("td")
date = tds[0].text
price_open = tds[1].text.replace("\xa0","")
price_close = tds[4].text.replace("\xa0","")
volume = tds[5].text.replace("\xa0","")

In [75]:
import requests
from bs4 import BeautifulSoup
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
headers = {"User-Agent" : user_agent}
month = 10
url = f"https://stock.wearn.com/cdata.asp?Year=112&month={month}&kind=2330"
res = requests.get(url = url, headers = headers)
html = BeautifulSoup(res.text,"html.parser")
#print(soup.prettify())
table = html.findAll("table",{"class":"mobile_img"})[0]
trs = table.findAll("tr")[2:]
df = pd.DataFrame(columns = ["date","price_open","price_close","volume"])
for index,tr in enumerate (trs):
    tds = tr.findAll("td")
    date = tds[0].text
    y, m, d = date.split("/")
    date = f"{int(y)+1911}/{m}/{d}"
    price_open = tds[1].text.replace("\xa0","")
    price_close = tds[4].text.replace("\xa0","")
    volume = tds[5].text.replace("\xa0","")
    new_row = [date,price_open,price_close,volume]
    df.loc[index] = new_row
display(df)

          date price_open price_close  volume
0   2023/10/31     535.00      529.00  26,477
1   2023/10/30     531.00      532.00  21,852
2   2023/10/27     534.00      533.00  15,975
3   2023/10/26     530.00      531.00  29,412
4   2023/10/25     544.00      544.00  16,727
5   2023/10/24     543.00      544.00  15,330
6   2023/10/23     552.00      544.00  23,122
7   2023/10/20     549.00      556.00  47,283
8   2023/10/19     540.00      546.00  23,293
9   2023/10/18     549.00      540.00  26,338
10  2023/10/17     550.00      551.00  18,994
11  2023/10/16     546.00      545.00  20,270
12  2023/10/13     550.00      553.00  32,180
13  2023/10/12     545.00      550.00  35,359
14  2023/10/11     542.00      544.00  48,166
15  2023/10/06     530.00      532.00  15,596
16  2023/10/05     523.00      528.00  25,244
17  2023/10/04     521.00      520.00  29,756
18  2023/10/03     528.00      529.00  14,848
19  2023/10/02     530.00      533.00  25,877

In [46]:
def price_data(table):
    trs = table.finAll("tr")[2:]
    for index,tr in enumerate (trs):
        tds = trs.findAll("td")
        date = tds[0].text
        y, m, d = date.split("/")
        date = f"{int(y)+1911}/{m}/{d}"
        price_open = tds[1].text.replace("\xa0","")
        price_close = tds[4].text.replace("\xa0","")
        volume = tds[5].text.replace("\xa0","")
        df = pd.DataFrame(columns = ["date","price_open","price_close","volume"])
        new_row = [date,price_open,price_close,volume]
        df.loc[index] = new_row

In [82]:
import requests
from bs4 import BeautifulSoup
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
headers = {"User-Agent" : user_agent}
month = "06"
df = pd.DataFrame(columns = ["date","price_open","price_close","volume"])
df1 = pd.DataFrame(columns = ["date","price_open","price_close","volume"])
while int(month) <=12:
    url = f"https://stock.wearn.com/cdata.asp?Year=112&month={month}&kind=2330"
    res = requests.get(url = url, headers = headers)
    html = BeautifulSoup(res.text,"html.parser")
    #print(soup.prettify())
    table = html.findAll("table",{"class":"mobile_img"})[0]
    trs = table.findAll("tr")[2:]
    for index,tr in enumerate (trs):
        tds = tr.findAll("td")
        date = tds[0].text
        y, m, d = date.split("/")
        date = f"{int(y)+1911}/{m}/{d}"
        price_open = tds[1].text.replace("\xa0","")
        price_close = tds[4].text.replace("\xa0","")
        volume = tds[5].text.replace("\xa0","")
        new_row = [date,price_open,price_close,volume]
        df1.loc[index] = new_row
    df = pd.concat([df, df1], ignore_index=True)
    month = str(int(month) + 1 )
    if len(month) < 2:
        month = "0"+ month
    else:
        pass
#display(df) 
df.sort_values("date", ignore_index=True)

           date price_open price_close  volume
0    2023/06/30     570.00      576.00  23,022
1    2023/06/29     578.00      573.00  17,302
2    2023/06/28     579.00      574.00  18,441
3    2023/06/27     570.00      572.00  21,877
4    2023/06/26     576.00      574.00  27,700
..          ...        ...         ...     ...
146  2023/11/29     578.00      574.00  25,369
147  2023/11/28     565.00      575.00  26,672
148  2023/11/27     573.00      568.00  19,132
149  2023/11/02     536.00      547.00  30,212
150  2023/11/01     533.00      528.00  13,578

[151 rows x 4 columns]

           date price_open price_close  volume
19   2023/06/01     550.00      551.00  24,927
18   2023/06/02     559.00      562.00  31,324
17   2023/06/05     560.00      555.00  17,229
16   2023/06/06     554.00      560.00  20,632
15   2023/06/07     561.00      568.00  28,668
..          ...        ...         ...     ...
133  2023/12/18     579.00      585.00  26,700
132  2023/12/19     588.00      585.00  28,905
131  2023/12/20     587.00      585.00  38,458
130  2023/12/21     577.00      577.00  25,766
129  2023/12/22     582.00      582.00  19,035

[151 rows x 4 columns]

In [87]:
df = df.sort_values("date", ignore_index=True)
df = df[~df["date"].duplicated()]
df.to_csv("股價資料.csv",index = 0)